<!-- ====================================== -->
<footer class="text-white d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="copywirte__container col-md-6 ">
        <p>&copy; Developer <a href="https://portfolio66664.firebaseapp.com/" class="text-decoration-none">Mohamed
            Khedr</a>. </p>
      </div>
      <div class="icons__container col-md-6 ms-auto ">
        <div class=" d-flex flex-row-reverse">
          <a href="#"><i class="fab fa-2x fa-facebook mx-2 text-info"></i></a>
          <a href="#"> <i class="fab fa-twitter fa-2x mx-2 "></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x mx-2 text-info"></i> </a>
          <a href="#"><i class="fab fa-google fa-2x mx-2 text-info"></i> </a>
        </div>

      </div>
    </div>
  </div>
</footer>