<!-- =============  nav ============= -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container py-2">
    <a class="navbar-brand" href="#">
      <figure class="d-flex align-items-center m-0">
        <img class="px-3" src="assets/weather-imgs/Weather1.png" alt="Cloud" />
        <figcaption>Weather</figcaption>
      </figure>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
      <div class="navbar-nav align-items-center">
        <a class="nav-link active mx-3 rounded-pill" aria-current="page" href="#">Home</a>
        <!-- <a class="nav-link mx-3 rounded-pill" href="#">About</a> -->
        <a class="nav-link mx-3 rounded-pill " href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Default
          Location</a>
      </div>
    </div>
  </div>
</nav>


<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Default Location</h5>
        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="d-flex flex-column align-items-center my-4">
        <div class="modal-body ">
          Enter the desired location
        </div>
        <div>
          <input class="form-control my-2" [(ngModel)]="DefaultLocationValue">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="setDefaultLocation()" data-bs-dismiss="modal">Save
          changes</button>
      </div>
    </div>
  </div>
</div>