<!-- =============  nav ============= -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container py-2">
    <a class="navbar-brand" href="#">
      <figure class="d-flex align-items-center m-0">
        <img class="px-3" src="assets/weather-imgs/Weather1.png" alt="Cloud" />
        <figcaption>Weather</figcaption>
      </figure>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
      <div class="navbar-nav align-items-center">
        <a class="nav-link active mx-3 rounded-pill" aria-current="page" href="#">Home</a>
        <!-- <a class="nav-link mx-3 rounded-pill" href="#">About</a> -->
        <a class="nav-link mx-3 rounded-pill" href="#">Default Location</a>
      </div>
    </div>
  </div>
</nav>