@import "../../../shared/_global-styles";
main {
}
.hide {
  display: none;
}

.bg__container {
  height: 75vh;
  // background-image: url(../../../../assets/weather-imgs/background.png);
  background-image: url(https://www-cdn.eumetsat.int/files/styles/16_9_large/s3/2020-06/ASpot_Weather.jpg?h=d1cb525d&itok=lvYWh_W8);
  // background-image: url(https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/styles/featured_media_detail/public/23613146140_6edfea579f_k.jpg?m0oNCnmjJAswk0CJrWZ.iW.ge6XbrfR1&itok=YBQjaq77);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;

  @media (max-width: 1200px) {
    background-size: auto 100%;
  }
  @media (max-width: 992px) {
    height: auto;
  }
}
.search__input {
  outline: none;
  border: none;
  padding: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.5);
}

.weather__details {
  position: relative;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.5);
  border-radius: $card-radius;

  @media (max-width: 992px) {
    background-color: transparent !important ;
    box-shadow: none;
  }
  app-loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.9);
    height: 100%;
  }
}
.weather__card {
  @media (max-width: 992px) {
    margin-bottom: 60px;
    box-shadow: $main-box-shadow;
  }
  &:nth-child(2) {
    background-color: rgb(38, 41, 54);
    & .weather__card-header {
      background-color: darken(rgb(38, 41, 54), 5%);
      width: 100%;
    }
    @media (max-width: 992px) {
      border-radius: 10px;
      & .weather__card-header {
        // background-color: rgb(50, 53, 68);
        border-radius: $card-radius $card-radius 0 0;
      }
    }
  }
  &:not(:nth-child(2)) {
    background-color: rgb(50, 53, 68);
    & .weather__card-header {
      background-color: darken(rgb(50, 53, 68), 5%);
      width: 100%;
    }
  }
  &-body {
    @media (max-width: 992px) {
      align-items: center;
    }
  }
  &:first-child {
    border-radius: 10px 0 0 10px;
    & .weather__card-header {
      border-radius: $card-radius 0 0 0;
    }
    @media (max-width: 992px) {
      margin-top: 30px;
      border-radius: 10px;
      & .weather__card-header {
        border-radius: $card-radius $card-radius 0 0;
      }
    }
  }
  &:last-child {
    border-radius: 0 $card-radius $card-radius 0;
    & .weather__card-header {
      border-radius: 0 $card-radius 0 0;
    }
    @media (max-width: 992px) {
      border-radius: 10px;
      & .weather__card-header {
        border-radius: $card-radius $card-radius 0 0;
      }
    }
  }

  .weather__status {
    color: #009ad8;
  }

  .great__degree {
    &.today__degree {
      font-size: 90px;
      font-weight: 700;

      @media (max-width: 1200px) {
        font-size: 60px;
      }

      @media (max-width: 576px) {
        font-size: 40px;
      }
    }
  }
}
