<!-- =============  Home  ============= -->
<main>
  <section>
    <div class="bg-dark bg__container pt-5 px-5 text-white ">
      <div class="seconder__container container d-flex flex-column  justify-content-center">
        <form class="w-100 my-3 row mx-0 ">
          <input id="search__input" type="text" autocomplete="off"
            class="search__input bg-dark text-white rounded-pill " placeholder="Enter Location"
            aria-label="Recipient's username" aria-describedby="basic-addon2" (keyup)="setLocation($event)" />
          <div class="input-group-append"></div>
        </form>
        <div class="weather__details row w-100 my-5 mx-0  ">
          <div class="weather__card col-lg-4 gap-0 px-0 ">
            <div class="weather__card-header d-flex justify-content-between px-3 pt-2">
              <p>{{days[da]}}</p>
              <p>{{date}} {{months[mo]}}</p>
            </div>
            <div class="weather__card-body  d-flex flex-column justify-content-center py-4 px-3">
              <p class="weather__location">{{response.location.name}} - <span>{{response.location.country}}</span></p>

              <div class="d-flex align-items-center">
                <h3 class=" great__degree today__degree">{{response.current.temp_c}}° C
                </h3>
                <img src={{response.current.condition.icon}} class="ps-1" alt="weather status image">
              </div>
              <p class="small__degree"> {{response.forecast.forecastday[0].day.maxtemp_c}}° C -
                <span class="tody__mintemp">{{response.forecast.forecastday[0].day.mintemp_c}}° C</span>
              </p>
              <p class="weather__status">{{response.current.condition.text}}</p>
            </div>
          </div>
          <div class="weather__card col-lg-4 gap-0 px-0 ">
            <div class="weather__card-header d-flex justify-content-between px-3 pt-2">
              <p>{{(da+2 <= 7 )? days[da+1]: days[6-(da+1)]}}</p>
                  <!-- <p> {{months[mo]}}</p> -->
            </div>
            <div class="weather__card-body  d-flex flex-column justify-content-center align-items-center py-4 px-3">
              <div class="">
                <img src={{response.forecast.forecastday[2].day.condition.icon}} alt="weather status image"
                  class="ps-1 mb-1" alt="weather status image">
                <h3 class=" great__degree ">{{response.forecast.forecastday[1].day.maxtemp_c}}° C
                </h3>
              </div>
              <p class="small__degree"> {{response.forecast.forecastday[1].day.mintemp_c}}° C</p>
              <p class="weather__status">{{response.forecast.forecastday[1].day.condition.text}}</p>
            </div>
          </div>
          <div class="weather__card col-lg-4 gap-0 px-0 ">
            <div class="weather__card-header d-flex justify-content-between px-3 pt-2">
              <p>{{(da+2 <= 7 )? days[da+2]: days[6-(da+2)]}}</p>
                  <!-- <p>{{date}} {{months[mo]}}</p> -->
            </div>
            <div class="weather__card-body   d-flex flex-column justify-content-center align-items-center py-4 px-3">
              <div class=" align-items-center">
                <img src={{response.forecast.forecastday[2].day.condition.icon}} alt="weather status image"
                  class="ps-1 mb-1" alt="weather status image">
                <h3 class=" great__degree ">{{response.forecast.forecastday[2].day.maxtemp_c}}° C
                </h3>
              </div>
              <p class="small__degree"> {{response.forecast.forecastday[2].day.mintemp_c}}° C</p>
              <p class="weather__status">{{response.forecast.forecastday[2].day.condition.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>